{% extends 'base.htm' %}
{% load staticfiles %}


{% block page_title_block %}
    <h1>{{ pagetitle }}</h1>
    <h2>{{ pagename }}</h2>
{% endblock %}

{% block body_block %}

  <!-- div>
    <form id="device_form" class="form-signin" role="form" method="post" action=".">
      {% csrf_token %}
      {{ device_form.as_p }}
      <button class="btn btn-lg btn-primary " type="submit" value="Update">Update</button>
    </form>
  </div -->


  <!-- div class="container" -->
    <form class="form-horizontal" id="device_form" role="form" method="post" action=".">
      {% csrf_token %}
      <div class="form-group">
        <!-- p class="required" -->
        <!-- div class="col-sm-2 control-label">
           {{ device_form.address.label_tag }}
        </div -->
        <div class="row">
        <label class="col-sm-2 control-label" for="{{ zone_form.address.id_for_label }}">Address:</label>
        <div class="col-sm-4">
          {{ device_form.address }}
        </div>
        </div>
        <!-- /p -->
      </div>
      <div class="form-group">
        <!-- p class="required" -->
        <!-- div class="col-sm-2 control-label">
          {{ device_form.name.label_tag }}
        </div -->
        <div class="row">
        <label class="col-sm-2 control-label" for="{{ zone_form.name.id_for_label }}">Name:</label>
        <div class="col-sm-6">
          {{ device_form.name }}
        </div>
        </div>
        <!-- /p -->
      </div>
      <div class="form-group">
        <!-- p class="required" -->
        <!-- div class="col-sm-2 control-label">
          {{ device_form.description.label_tag }}
        </div -->
        <div class="row">
        <label class="col-sm-2 control-label" for="{{ zone_form.description.id_for_label }}">Description:</label>
        <div class="col-sm-6">
          {{ device_form.description }}
        </div>
        </div>
        <!-- /p -->
      </div>
      <button class="btn btn-lg btn-primary" type="submit" value="Update">Update</button>
    </form>
  <!-- /div -->



{% endblock %}

